@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
    background-color: rgb(215, 248, 248);
    border: 3px solid rgb(250, 165, 39);
    margin: 0;
    padding: 0;
    height: 800px;
    font-family: 'Courgette', cursive;
}

img{
    width: 250px;
    border: 2px solid;
   border-radius: 50%;
}

h2{
    color: rgb(231, 173, 14);
}
b{
    color: rgb(8, 21, 138);
    font-weight: bold;
}
.main{
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.links{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid goldenrod;
    border-width: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 325px;
    text-decoration: double;
}